<h1>E-mail Send Success</h1>
<textarea class="form-control" rows="2"  style="background-color: pink"><%= @get_mail %></textarea><br>
<textarea class="form-control" rows="4" style="background-color: pink"><%= @get_text %></textarea>
